---
# The scss file which include files from _sass/
---
@charset "UTF-8";
@import '../_sass/variables';
@import '../_sass/typography';
@import '../_sass/animate';


  /*
   * General Classes
   */

   header {
     position: fixed;
     top:.4em;
     left: 10%;
     right: 10%;
   }
   main {
     min-height: 100vh;
     margin-top: 9em;
   }
   body { background-color: $body-background-color; }

   /* Links */
   a {
     color: $link-color;
     text-decoration: none;
     border-bottom: 1px solid $rose;
     padding-bottom: 3px;
     &:hover {
       color: $rose;
       border-bottom: 1px solid $rose;
     }
   }
   a.naked-link, a.naked-link:hover { border-bottom: none; }

   /* Navigation */
   header nav a {
     font-weight: 700;
     border-bottom: 2px solid $rose;
     padding-bottom: 4px;
     &:hover,
     &.active {
       color: $rose;
       border-bottom: 2px solid $rose;
     }
   }
   nav a {
     color: $link-color;
     border-bottom: none;
     &:hover,
     &.active {
       color: $rose;
       border-bottom: none;
     }
   }

  /*
   * Custom Classes
   */

   .logo { width: 2em; }
   .bg-paul {
     position: fixed;
     margin-left: auto;
     margin-right: auto;
     left: 0em;
     top: 0em;
     right: 0em;
     bottom: 0em;
     z-index: -1;
     width: calc(100% - 2em);
     height: 100%;
     background-image: url("../assets/background-hi-res-rose.jpg");
     background-position: 50% 6em;
     background-size: 36em;
     background-repeat: no-repeat;
   }
   .bg-paul-free {
     position: absolute;
     margin-bottom: 0em;
     padding-bottom: 6em;
     margin-left: auto;
     margin-right: auto;
     left: 0em;
     top: 0em;
     right: 0em;
     bottom: 0em;
     z-index: -1;
     width: calc(100% - 2em);
     height: 100%;
     background-image: url("../assets/background-hi-res-rose.jpg");
     background-position: 50% 6em;
     background-size: 36em;
     background-repeat: no-repeat;
   }
   .top-space { margin-top: calc(100vh - 10em); }
   .bg-white { background-color: $white; }
 /*
  * IFrame Classes
  */

  .dynamic-iframe {
    max-width: 64em;
    margin: 2em auto;
    @media (max-width: 40em){
      width: $iframe-width-xs;
      height: $iframe-height-xs;
    }
    @media (min-width: 40em) and (max-width: 52em){
      width: $iframe-width-sm;
      height: $iframe-height-sm;
    }
    @media (min-width: 52em) and (max-width: 64em){
      width: $iframe-width-md;
      height: $iframe-height-md;
    }
    @media (min-width: 64em){
      width: $iframe-width-lg;
      height: $iframe-height-lg;
    }
  }
