<div class="clearfix p3">


  <div class="clearfix">
    <h1>
      <a  class="h1 gray" href="{{ site.baseurl }}">
        {{ site.title }}
      </a>
    </h1>
    <p class="h4 gray">{{ site.description }}</p>
  </div>

  <div class="clearfix mt2">
    <nav role="navigation">
      <ul class="ml3 list-reset">
        <li class="mr2">
          <a class="{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
        </li>

        {% comment %}
          The code below dynamically generates a sidebar nav of pages with
          `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if node.layout == "page" %}
              <li class="mr2">
                <a class="{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>


  <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
</div>
