/*
 * Header Specific Classes
 */


 /* Variables */

 $aqua: #7fdbff;
 $blue: #0074d9;
 $navy: #001f3f;
 $teal: #39cccc;
 $green: #2ecc40;
 $olive: #808013;
 $lime: #01ff70;
 $yellow: #ffdc00;
 $orange: #ff851b;
 $red: #ff4136;
 $fuchsia: #f012be;
 $purple: #b10dc9;
 $maroon: #85144b;
 $white: #fff;
 $silver: #ddd;
 $gray: #aaa;
 $black: #111;

 $body-background-color: #fafafa;
 $body-color: $black;
 $link-color: $olive;


 /* Basscss Links */

 body {
   background-color: $body-background-color;
 }

 a {
   color: $link-color;
 }

 nav a {
   color: $gray;
   padding-bottom: 2px;
 }

 nav a:hover {
   color: $black;
   text-decoration: none;
 }

 nav a.active {
   color: $black;
   border-bottom: 2px solid $black;
 }
