/*
 * SCSS Variables
 */


 /* Color Variables */

 $aqua: #7fdbff;
 $blue: #0074d9;
 $navy: #242633;
 $teal: #39cccc;
 $green: #2ecc40;
 $olive: #808013;
 $lime: #01ff70;
 $yellow: #ffdc00;
 $orange: #ff851b;
 $red: #ff4136;
 $fuchsia: #f012be;
 $purple: #b10dc9;
 $maroon: #85144b;
 $white: #fff;
 $silver: #fafafb;
 $gray: #696969;
 $black: #111;
 $rose: #90796A;


 $body-background-color: $black;
 $body-color: $white;
 $link-color: $silver;


 /* Image Variables */
 $img-xs: 50px;
 $img-sm: 150px;
 $img-md: 300px;
 $img-lg: 600px;
 $img-xl: 1200px;


 /* IFrame Variables */
 $iframe-width-lg: 70vw;
 $iframe-width-md: 80vw;
 $iframe-width-sm: 90vw;
 $iframe-width-xs: 85vw;

 $iframe-height-lg: ($iframe-width-lg * 0.5625);
 $iframe-height-md: ($iframe-width-md * 0.5625);
 $iframe-height-sm: ($iframe-width-sm * 0.5625);
 $iframe-height-xs: ($iframe-width-xs * 0.5625);
