---
layout: page
title: "Journal"
heading: "Occasionally, I write down my thoughts."
sub-heading: "Journal Entries From Past To Present"
permalink: /journal/
group: "navigation"
---



<div class="py2" markdown="1">

  <ul class="list-reset  animated fadeIn">
    {% for post in site.categories['journal'] %}
      {% if post.url != page.url %}
        <a class="black" href="{{ post.url | prepend: site.baseurl }}">
          <li class="flex flex-center border-top">
            <span class="flex-auto h4 py2">{{ post.title }}</span>
            <span class="right-align h6 py2">{{ post.date | date: "%B %Y"}}</span>
          </li>
        </a>
      {% endif %}
    {% endfor %}
  </ul>

</div>
