---
layout: default
---
<article>

  <header class="sm-mb2 sm-py2 md-mb4 md-py4">
    <h3 class="sm-hide center animated fadeIn" itemprop="name headline">{{ page.heading }}</h3>
    <h5 class="sm-hide center italic animated fadeInDown" itemprop="name headline">{{ page.sub-heading }}</h5>
    <h1 class="sm-show center animated fadeIn" itemprop="name headline">{{ page.heading }}</h1>
    <h4 class="sm-show center italic animated fadeInDown" itemprop="name headline">{{ page.sub-heading }}</h4>
  </header>

  <div class="sm-mb2 sm-py2 md-mb4 md-py4">
    {{ content }}
  </div>

</article>
